Shivarobot/config.py
Shivarobot/*.session
Shivarobot/*.session-journal
Shivarobot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
Shivarobot/modules/helper_funcs/temp.txt
Shivarobot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
Shivarobot.session-journal
updates.txt
*.exe
